@layer base, layout, components, demo, utilities;

/*
```md
# Containerless Grid System with Subgrid

This system utilizes a global 14 track grid where the outer two tracks act as responsive gutters. By default rows are subgrids, meaning they automatically align their internal content to the 12 central tracks.

## Spanning & Bleeds

Bleeds allow content or backgrounds to "break out" of the 12 column center and touch the viewport edges.

Default Behavior: Content starts and ends at the "content container" boundaries.
.start-edge: Start from the absolute viewport edge.
.end-edge: End at the absolute viewport edge.
.end-content: Explicitly end at the content boundary.
.content-lock: Use this class to decouple the background bleed from the content spanning (e.g., a full-width background with centered text).

## Common Utility Combos

Full Bleed: start-edge end-edge
Right Bleed: start-content end-edge
Left Bleed: start-edge end-content
No Bleed (Centered):start-content end-content

## Grid Types & Opt-Outs

While the 12 column subgrid is the default, you can opt into different grid behaviors using specific attributes:

### Standard Subgrid (Default)
12 columns is a popular multiple that's ideal for 1x12, 2x6, 3x4, and 4x3 layouts.
```html
<div class="start-content end-content">
  <div>Content spans 12 columns by default</div>
</div>
```

### Independent Grid ([data-custom-grid-cols])
Breaks the subgrid link to create a custom coordinate system. Use the --column-count variable to define your tracks (eg a 16 column grid).
```html
<div class="start-content end-content" data-section data-custom-grid-cols>
  <div class="custom-grid-cols" style="--column-count: 16;" data-grid>
    <div style="--col-width: 8;"><h2>Custom Span 8 of 16 cols</h2></div>
    <div style="--col-width: 8;"><h2>Custom Span 8 of 16 cols</h2></div>
  </div>
</div>
```

### Nested Grid
.nested-grid: Both the row and its children participates in the subgrid.

### Hybrid Nested Subgrid
.nested-subgrid: Row participates in the subgrid, but its children act as an independent grid.

## Grid Defintion
The grid is defined by utility classes. Presentational styling has been separated out by the use of data attributes and can be safely ignored

*/

/* minimal resets */
@layer base {
  body {
    margin: 0;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .img-copy {
    gap: 0;
  }

  .img-copy > img { 
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }
}

@layer layout {
  .main-grid {
    --column-count: 12;
    --col-start: 2;
    --col-end: -2;
    display: grid;
    column-gap: 1rem;
    grid-template-columns: minmax(1rem, 1fr) repeat(
        var(--column-count),
        minmax(0, 10rem)
      ) minmax(1rem, 1fr);
  }

  /* children */
  /* by default: grid spans all but the first & last (padding) columns */
  /* but this can be overridden via utility classes to enable full or partial bg bleeds */
  .main-grid > * {
    display: grid;
    grid-template-columns: minmax(1rem, 1fr) repeat(var(--column-count), minmax(0, 10rem)) minmax(1rem, 1fr); /* legacy browser fallback */
    grid-template-columns: subgrid;
    grid-column: var(--col-start) / var(--col-end);
  }

  /* grandchildren */

  /* mobile first */

  .main-grid > * > * {
    grid-column: 1 / -1;
    width: 100%;
  }

  /* content-lock */

  .main-grid > .content-lock > * {
    grid-column-start: calc(3 - var(--col-start, 2)) !important;
    grid-column-end: span var(--column-count, 12) !important;
  }

  @media (max-width: 799px) {
    .nested-subgrid > * {
      grid-column: 1 / -1 !important;
    }
    .nested-grid {
      grid-template-columns: 1fr !important;
    }
  }

  @media (min-width: 800px) {
    /* desktop breakpoint */

    .main-grid > :not(:has(.custom-grid-cols)) > * {
      grid-column-start: auto;
      grid-column-end: span var(--col-width, var(--column-count));
    }

    .main-grid > :not(:has(.custom-grid-cols)) > *:first-child {
      grid-column-start: 1 !important; 
    }

    .two-columns > *:nth-child(2n + 3),
    .three-columns > *:nth-child(3n + 4),
    .four-columns > *:nth-child(4n + 5) {
      grid-column-start: 1 !important;
    }

    .three-columns > *:nth-child(3n + 4) {
      grid-column-start: 1;
    }

    .four-columns > *:nth-child(4n + 5) {
      grid-column-start: 1;
    }

    .main-grid > :not(:has(.custom-grid-cols)) > *:last-child {
      grid-column-end: span var(--col-end);
    }

    .main-grid > :not(:has(.custom-grid-cols)) > *:only-child {
      grid-column: var(--col-start, 2) / var(--col-end, -2);
    }  

    .two-columns :nth-child(odd) {
      grid-column: var(--col-start, 2) / span var(--col-width);
    }

    .three-columns :nth-child(4) {
      grid-column: var(--col-start, 2) / span var(--col-width);
    }

    .three-columns > *:last-child {
      grid-column: span var(--col-width);
    }

    .four-columns {
      --col-width: calc(var(--column-count) / 4);
    }

    .four-columns :nth-child(5) {
      grid-column: var(--col-start, 2) / span var(--col-width);
    }

    .four-columns > *:last-child {
      grid-column: span var(--col-width);
    }

    .cards {
      grid-template-rows: repeat(3, auto) 1fr;
    }

    .card > * {
      grid-column: 1 / -1;
      margin-left: 0;
      --col-start: 1;
    }

    .cards .card:nth-child(4) {
      grid-column-start: var(--col-start, 2);
      grid-column-end: span var(--col-width);
    }

    .main-grid > :has(.custom-grid-cols) {
      grid-template-columns: auto;
    }

    .custom-grid-cols {
      grid-column: 1 / -1;
      display: grid;
      grid-template-columns: repeat(var(--column-count), 1fr);
      gap: 1rem;
    }

    .custom-grid-cols > * {
      grid-column: span var(--col-width) !important; 
    }    
  }
}

@layer components {
  .cards {
    gap: 1rem;
    margin-bottom: 2rem;
  }

  .card {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* legacy browser fallback */
    grid-template-rows: auto auto auto 1fr; /* legacy browser fallback */
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    grid-row: span 4;
    background: #fff;
    text-align: left;
    border: 1px solid #000;
    gap: 0.5rem;
    padding: 0 0 2rem;
  }

  .card-title,
  .card-subtitle,
  .card-body {
    padding-inline: 1rem;
  }

  .card-image {
    grid-row: 1;
    max-width: 100%;
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    display: block;
    grid-column: 1 / -1;
  }

  .card-title {
    grid-row: 2;
    margin: 1rem 0 0;
    grid-column: 1 / -1;
  }

  .card-subtitle {
    grid-row: 3;
    margin: 0;
    opacity: 0.7;
    grid-column: 1 / -1;
  }

  .card-body {
    grid-row: 4;
    margin: 0;
    grid-column: 1 / -1;
  }

  /* demo page specific hero */

  @media (min-width: 650px) {
    /* desktop */

    .hero {
      padding: 3em 0;
    }

    .hero-title {
      grid-row: 1 / 2;
      grid-column: 2 / 7;
      z-index: 2;
    }

    .hero-img {
      grid-row: 1 / span 2;
      grid-column: 5 / var(--col-end, -2);
      width: 100%;
      height: 100%;
      object-fit: cover;
      max-height: 60vh;
    }

    .start-edge {
      .hero-img {
        grid-column: 5 / var(--col-end, -1);
      }

      .hero-title {
        grid-column: 1 / 6;
      }
    }
  }
}

/* this page's demo presentational styles (NOT strictly needed for grid system!) */
@layer demo {
  body {
    font-family: sans-serif;
    line-height: 1.8;
    font-size: 1.125rem;
  }

  .main-title {
    font-size: clamp(3.5rem, 7vw + 1rem, 5rem);
    text-transform: uppercase;
    line-height: 0.9;
    margin-bottom: 0.2em;
  }

  h2 {
    font-size: 2rem;
    line-height: 0.9;
    text-transform: uppercase;
  }

  .hero {
    padding-bottom: 3em;
  }

  [data-section] {
    padding: 3rem 0;
    text-align: center;
  }

  .center {
    grid-column: 1 / -1;
    align-self: center;
    text-align: center;
    @media(min-width: 800px) {
      grid-column: span var(--col-width);
      column-gap: 2rem;
    }
  }

  .one-column {
    background: #222;
    padding: 3em 0;
    text-align: center;
    color: #f4f4f4;    
  }

  .four-columns {
    background-color: honeydew;
  }

  .one-third {
    background-color: lightgoldenrodyellow;
  }

  .two-thirds {
    background-color: palegoldenrod;
  }

  .one-fourth {
    background-color: darkolivegreen;
    color: white;
  }

  .three-fourths {
    background-color: darkseagreen;
  }

  [data-nested-subgrid] {
    background: #f0f0f0;
    padding: 2rem 0;
    margin-bottom: 2rem;
  }

  [data-nested-subgrid] [data-grid] {
    grid-column: 1 / -1; 
    display: grid; 
    grid-template-columns: subgrid; 
    background: rgba(0,0,0,0.05);
  }

  [data-nested-subgrid] [data-grid-cell] {
    grid-column: span 6; 
    background: lightgoldenrodyellow; 
    padding: 1rem;
  }

  [data-nested-grid] {
    background: #fff;
    padding: 2rem 0; 
    margin-bottom: 2rem;
  }

  [data-nested-grid] [data-grid] {
    grid-column: 1 / -1; 
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px; 
    background: #f0f0f0; 
    padding-block: 2rem;
  }

  [data-nested-grid] [data-grid-cell] {
    background: palegoldenrod; 
    color: #000; 
    padding: 1rem;
  }

  [data-right-bleed],
  [data-right-bleed-content-lock] {
    background-color: khaki;
    padding: 2rem;
  }

  [data-left-bleed],
  [data-left-bleed-content-lock] {
    background-color: powderblue;
    padding: 2rem;
  }

  [data-full-bleed],
  [data-full-bleed-content-lock] {
    background-color: wheat;
    padding: 2rem;
  }

  [data-no-bleed] {
    background-color: gainsboro;
    padding: 2rem;
  }

  [data-custom-grid-cols] {
    background-color: wheat;
  }
}

@layer utilities {
  .start-edge {
    --col-start: 1;
  }

  .end-content { 
    --col-end: -2; 
  }

  .end-edge { 
    --col-end: -1; 
  }

  .one-column { 
    --col-width: calc(var(--column-count) / 1);
  }

  .two-columns { 
    --col-width: calc(var(--column-count) / 2);
  }

  .three-columns { 
    --col-width: calc(var(--column-count) / 3);
  }

  .four-columns { 
    --col-width: calc(var(--column-count) / 4);
  }

  .one-third {
    --col-width: 4;
  }

  .two-thirds {
    --col-width: 8;
  }

  .one-fourth {
    --col-width: 3;
  }

  .three-fourths {
    --col-width: 9;
  }
}
