body {
  margin: 0;
}

.main-grid {
  --column-count: 12;
  --col-start: 2;
  display: grid;
  column-gap: 1rem;

  grid-template-columns: minmax(1rem, 1fr) repeat(
      var(--column-count),
      minmax(0, 10rem)
    ) minmax(1rem, 1fr);
}

/* children */

.main-grid > * {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: minmax(1rem, 1fr) repeat(var(--column-count), minmax(0, 10rem)) minmax(1rem, 1fr); /* legacy browser fallback */
  grid-template-columns: subgrid;
}

/* grandchildren */

/* mobile first */

.main-grid > * > * {
  grid-column: 2 / -2;
}

@media (min-width: 800px) {
  /* desktop */

  .main-grid > .base-columns > * {
    /* positions (implicitly based on :first-child) + spans the middle cols (based on either --col-width css var or .one/.two/.three-column utility class) */

    grid-column: span var(--col-width);
  }

  .main-grid > .base-columns > *:first-child {
    grid-column: var(--col-start) / span var(--col-width); /* positions (explicitly) + spans the first col */
  }

  .main-grid > .base-columns > *:last-child {
    grid-column: span var(--col-width) / calc(var(--col-start) * -1); /* positions (explicitly) + spans the last col */
  }

  .main-grid > .base-columns > *:only-child {
    grid-column: var(--col-start) / span var(--col-width);
  }

  .one-column {
    --col-width: calc(var(--column-count) / 1);
  }

  .two-columns {
    --col-width: calc(var(--column-count) / 2);
  }

  .two-columns :nth-child(odd) {
    grid-column: var(--col-start) / span var(--col-width);
  }

  .three-columns {
    --col-width: calc(var(--column-count) / 3);
  }

  .three-columns :nth-child(4) {
    grid-column: var(--col-start) / span var(--col-width);
  }

  .three-columns > *:last-child {
    /* remove space bet cols */
    grid-column: span var(--col-width);
  }

  .four-columns {
    --col-width: calc(var(--column-count) / 4);
  }

  .four-columns :nth-child(5) {
    grid-column: var(--col-start) / span var(--col-width);
  }

  .four-columns > *:last-child {
    /* remove space bet cols */
    grid-column: span var(--col-width);
  }


  .cards {
    grid-template-rows: auto auto auto 1fr;
  }

  .card > * {
    grid-column: 1 / -1;
    margin-left: 0;
    --col-start: 1;
  }

  .cards .card:nth-child(4) {
    grid-column: var(--col-start) / span var(--col-width);
  }
}

.no-bleed {
  grid-column: 2 / -2;
}

.cards {
  gap: 1rem;
  margin-bottom: 2rem;
}

.card {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* legacy browser fallback */
  grid-template-rows: auto auto auto 1fr; /* legacy browser fallback */
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  grid-row: span 4;
  background: #fff;
  padding-bottom: 2rem;
  text-align: left;
  border: 1px solid #000;
  gap: 0.5rem;
  padding: 0;
  padding-bottom: 2rem;
}

.card-title,
.card-subtitle,
.card-body {
  padding-inline: 1rem;
}

.card-image {
  grid-row: 1;
  max-width: 100%;
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  display: block;
  grid-column: 1 / -1;
}

.card-title {
  grid-row: 2;
  margin: 1rem 0 0;
  grid-column: 1 / -1;
}

.card-subtitle {
  grid-row: 3;
  margin: 0;
  opacity: 0.7;
  grid-column: 1 / -1;
}

.card-body {
  grid-row: 4;
  margin: 0;
  grid-column: 1 / -1;
}

.one-third {
  --col-width: 4;
}

.two-thirds {
  --col-width: 8;
}

.one-fourth {
  --col-width: 3;
}

.three-fourths {
  --col-width: 9;
}

/* page specific */

@media (min-width: 650px) {
  /* desktop */

  .hero {
    padding: 3em 0;
  }

  .hero-title {
    grid-row: 1 / 2;
    grid-column: 2 / 7;
    z-index: 2;
  }

  .hero-img {
    grid-row: 1 / span 2; /* equals grid-row: 1 / 3 */
    grid-column: 5 / -2;
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 60vh;
  }

  .hero-body {
    grid-row: 2;
    grid-column: 2 / 4;
  }
}

.img-copy {
  gap: 0;
}

.img-copy > img { /* mobile */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body {
  font-family: "Work Sans", sans-serif;
  line-height: 1.6;
  font-size: 1.125rem;
}

img {
  display: block;
  max-width: 100%;
}

.btn {
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  background: black;
  color: white;
  padding: 0.75em 2em;
  border-radius: 100vmax;
  &:hover {
    background: #444;
  }
}

.main-title {
  font-size: clamp(3.5rem, 7vw + 1rem, 5rem);
  text-transform: uppercase;
  line-height: 0.9;
  margin-bottom: 0.2em;
}

h2 {
  font-size: 2rem;
  line-height: 0.9;
  text-transform: uppercase;
}

.hero {
  padding-bottom: 3em;
}

.section {
  padding: 3rem 0;
  background: #efefef;
  text-align: center;
}

.alt-section,
.alt-section-bg,
.alt-section-bg-2 {
  text-align: center;
  padding: 3rem 0;
}

.alt-section-bg {
  background-color: tomato;
}

.alt-section-bg-2 {
  background-color: linen;
}

.alt-section-2 {
  background: #222;
  padding: 3em 0;
  text-align: center;
  color: #f4f4f4;
}

.center {
  display: grid;
  place-items: center;
}

.four-columns {
  background-color: honeydew;
}

.one-third {
  background-color: lightgoldenrodyellow;
}

.two-thirds {
  background-color: palegoldenrod;
}

.one-fourth {
  background-color: darkolivegreen;
  color: white;
}

.three-fourths {
  background-color: darkseagreen;
}

